<div
    class="
    section
    section--divider-{{ section.settings.divider_style }}
    {{ section.settings.section_padding }}
    "
>
    {% if section.settings.link_list.links.size > 0 %}
        <ul class="page-nav">
            {% for link in section.settings.link_list.links %}
                <li>
                    <a href="{{ link.url }}"{% if link.active %}class="active"{% endif %}>{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
  
{% schema %}
  {
    "name": "Page navigation",
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "custom.overlay"]
    },
    "settings": [
        {
          "id": "link_list",
          "type": "link_list",
          "label": "Links"
        },
        {
            "type": "header",
            "content": "t:shared.settings.section_style.header_style.content"
        },
        {
            "type": "select",
            "id": "divider_style",
            "label": "t:shared.settings.section_style.divider_style.label",
            "default": "none",
            "options": [
            {
                "label": "t:shared.settings.section_style.divider_style.option_none",
                "value": "none"
            },
            {
                "label": "t:shared.settings.section_style.divider_style.option_solid",
                "value": "solid"
            }
            ]
        },
        {
            "type": "select",
            "id": "section_padding",
            "label": "t:shared.settings.section_style.section_padding.label",
            "default": "section--vertical-padding-top-bottom",
            "options": [
            {
                "label": "t:shared.settings.section_style.section_padding.option_none",
                "value": "section--vertical-padding-none"
            },
            {
                "label": "t:shared.settings.section_style.section_padding.option_both",
                "value": "section--vertical-padding-top-bottom"
            },
            {
                "label": "t:shared.settings.section_style.section_padding.option_top",
                "value": "section--vertical-padding-top-only"
            },
            {
                "label": "t:shared.settings.section_style.section_padding.option_bottom",
                "value": "section--vertical-padding-bottom-only"
            }
            ]
        }
    ],
    "presets": [
      {
        "name": "Page navigation"
      }
    ]
  }
{% endschema %}