:root {
    --font-heading: 'Helvetica Neue', sans-serif !important;
    --font-heading-weight: bold !important;
    --max-width: 1540px !important;
    --color-dropdown: rgba(255, 255, 255, 0.8);
    /* --font-body: 'Baron Neue', sans-serif; */
}

/* Only the first homepage section (hero) gets header padding */
/* .template-index main .shopify-section:first-of-type [data-section-type] {
    width: 100%;
    padding-top: calc(var(--height-header));
} */

/* All other sections: no extra padding on top */
/* .template-index main .shopify-section:not(:first-of-type) [data-section-type] {
    width: 100%;
    padding-top: 0;
} */


/* .swiper-creative .swiper-slide:first-child [data-section-type] {
    padding-top: calc(var(--height-header) * -1);
} */
.header__inner {
    max-width: calc(var(--max-width) + calc(var(--space-outer) * 2));
    padding-inline: var(--space-outer);
}

/* @media (max-width: 959px) {
   .header__row .header__row-segment.left .header__icon-touch:first-child {
        margin-left: calc(-1 * var(--space-outer)) !important;
    }
} */
.aparajita-font {
    font-family: 'Aparajita', serif;
    font-style: italic;
    font-weight: normal;
    text-transform: unset !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.justify-between {
    justify-content: space-between !important;
}

.align-center {
    align-items: center;
}

.header.blacked {
    --color-cart-count-transparent: #ffffff !important;
    --color-text-transparent: var(--color-text-header) !important;
    color: var(--color-text-header) !important;
}

.header.blacked .image.regular-logo.animation--lazy-load.loaded{
    display: block !important;
}
.header.blacked .image.transparent-logo.animation--lazy-load.loaded {
    display: none !important;
}

.splitted-nav .header__links-primary-scroll-container {
    flex: 1 auto;
}

.splitted-nav .header__links-primary {
    width: 100%;
    justify-content: center;
}

.custom_popup-content.hidden {
    display: none;
}
.popup_bg {
    background: var(--color-overlay);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: none;
}
.popup_content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #fff;
    max-width: 50vw;
    width: 100%;
    margin-left: auto;
    transition: var(--duration-normal) var(--easing);
    transform: translateX(50vw);
}

[data-popup-id] .popup-main {
    padding-left: 3.333333vw;
    padding-right: 3.333333vw;
}

[data-popup-id] .popup-close {
    right: 3.333333vw;
}

.left--sidebar[data-popup-id] .popup_content {
    left: 0;
    right: unset;
    max-width: var(--flyout-width);
    transform: translateX(calc(-1 * var(--flyout-width)));
    margin-right: var(--flyout-mobile-gap);
}

.filter-bar__slide-group{
    position:relative;
    margin-left: auto;
    z-index:2;
}

.right--sidebar[data-popup-id] .popup_content {
    left: auto;
    right: 0;
    max-width: 33vw;
    transform: translateX(33vw);
}

.custom-popup.active .popup_content {
    transform: none;
}
.custom-popup.active .popup_bg {
    display: block;
}
.popup-close {
    position: absolute;
    top: 4rem;
    right: 8.3333333333vw;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.popup-close:not(.no-icon):before {
    content: "";
    width: 16px;
    height: 1px;
    transform: rotate(45deg);
    background: #000;
    position: absolute;
    top: 9px;
    left: 2px;
}
.popup-close:not(.no-icon):after {
    content: "";
    width: 16px;
    height: 1px;
    transform: rotate(-45deg);
    background: #000;
    position: absolute;
    top: 9px;
    left: 2px;
}
.popup-title {
    padding-right: calc(8.33333vw + 4.5rem);
    padding-left: 8.3333333333vw;
    margin-top: 4rem;
    text-transform: uppercase;
}
.popup-main {
    padding-left: 8.3333333333vw;
    padding-right: 8.3333333333vw;
    padding-top: 2rem;
    overflow: auto;
    max-height: calc(100vh - 150px);
}
body.overhidden {
    overflow: hidden;
}
.custom_popup-title {
    cursor: pointer;
    line-height: 1rem;
    margin-top:  1rem;
}
.custom_popup-title:hover {
    text-decoration: underline
}
.popup-main img {
    width: 100%;
}

.product__color-swatches .product__color-swatch[data-shape=rectangle] {
    aspect-ratio: 1.5;
}

.product__variants-wrapper .product__label-wrapper {
    margin-bottom: 2.3rem !important;
}

.product__color-swatches .product__color-swatch.selected:before {
    box-shadow: unset;
    border-bottom: .1rem solid var(--color-text);
}

.dynamic-variant-button.product__color-swatch {
    box-shadow: unset;
}
/* .product__color-swatches .product__color-swatch:before {
    border-radius: 50%;
} */

.filter-bar__link {
    display: inline-flex;
    align-items: center;
    padding: 4px 0;
    padding: var(--spacing-1) 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: var(--color-text);
    font-family: var(--font-body);
    font-style: var(--font-body-style);
}

.filter-bar__link .icon {
    width:10px;
    height:10px;
    margin-left:calc(4px * 2);
    margin-left:var(--spacing-2);
    margin-top:3px;
    transition:transform 500ms cubic-bezier(0.33, 0, 0, 1);
    transition:transform var(--duration-normal) var(--easing);
}

.has-bgcolor {
    background-color: var(--bg-color) !important;
    max-width: 100% !important;
}

.has-textcolor {
    --color-text: var(--text-color) !important;
}
.has-textcolor * {
    color: var(--color-text) !important;
}
.header-transparent .header {
    transition: all 0.3s cubic-bezier(.25,.1,.25,1), visibility 0s;
    background-color: var(--color-dropdown, rgba(255, 255, 255, 0.8));
    backdrop-filter: blur(10px);
}

html:not(.no-js) body.header-transparent:not([mobile-menu-open=true]):not([quick-search-open=true]) header.header--transparent:not(.is-sticky):not(:hover):not(:focus-within):not(.dropdown-active) {
    backdrop-filter: unset;
    background-color: transparent;
}


html:not(.no-js) .navigation__submenu-list,.meganav {
    transition: all 0.3s cubic-bezier(.25,.1,.25,1), visibility 0s;
    background-color: var(--color-dropdown, rgba(255, 255, 255, 0.8));
    backdrop-filter: blur(10px);
    border: 0;
}
html:not(.no-js) .navigation__submenu,.meganav {
    margin-top: 0px;
}

.header .icon-button__icon .icon {
    width: 20px;
    height: 20px;
}

.icon-button__icon {
    width: 35px;
    height: 35px;
}

.article-item__content-inner {
    padding: 0 !important;
}

.meganav__nav h4 {
    font-weight: bold;
}

.navigation__submenu-item {
    font-size: var(--font-size-navigation-base);
} 

.meganav__nav {
    padding: 0 calc(var(--spacing-12) * 2);
}

.meganav__inner {
    font-size: var(--font-size-navigation-base);
}

.meganav__nav li[depth="0"].has-children:not(:last-child) {
    margin-bottom: 0;
}
[data-js-cart-icon=bag] [data-js-cart-count] {
    display: none;
}

.product-item__inner .product-item__hover-container {
    background: transparent;
}

.collection__main-area,.search__main-area {
    padding-left: calc(var(--spacing-1) + 1px) !important;
    padding-right: calc(var(--spacing-1) + 1px) !important;
}

.product__price-and-ratings {
    margin-top: -4px;
}

.product {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.product__title {
    font-weight: 700;
}


.product__controls-group {
    margin-bottom: 3.5rem !important;
}

.product-item__slider__content {
    position: relative;
    display: block;
    width: 100%;
}

.product-item__slider__content .carousel__navigation-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    z-index: 2;
}

.product-item__slider__content .carousel__navigation-button.button-disabled{
    opacity:0.2;
}

.product-item__slider__content .carousel__navigation-button--forward {
    right: 1rem;
}

.product-item__slider__content .carousel__navigation-button--back {
    left: 1rem;
}

.filter-bar {
    overflow-y: initial;
    overflow-x: clip;
}

.filter-item a {
    display: block;
}

.filter-item a.active {
    font-weight: bold;
}

.filter-bar__link {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--color-background);
    color: var(--color-text);
}

/* .mobile-filters__group .filter-bar__link {
    padding: var(--spacing-2) calc(var(--spacing-unit)* 4);
    border-radius: 0;
    border: 1px solid var(--color-text);
} */

.filter-bar {
    display: none;
}

.mobile-filters__group[data-group="Filter"],.mobile-filters__group[data-group="sort"] {
    text-align: right;
}

h2#modal-Filter {
    flex: 1 auto;
    justify-content: center;
    font-weight: bold;
}

.filter-drawer__panel .filter-drawer__close {
    right: var(--spacing-5);
    position: absolute;
    top: var(--spacing-5);
}

[data-popup-id="category"] .popup-title {
    margin-top: 12rem;
}

.filter-drawer__heading {    
    margin-bottom: 6rem;
}
.sticky-header-active .header-transparent .header {
    background: transparent;
    backdrop-filter: unset;
}

.sticky-header-active .header-transparent .header:hover {
    background-color: rgb(255,255,255,0.8);
    backdrop-filter: blur(10px);
}

.splitted-nav .header__links-primary[data-navigation] {
    justify-content: flex-start !important;
}

.splitted-nav .header__links-primary[data-navigation-right] {
    justify-content: flex-end !important;
}

.multi-column__grid-item-text-container {
    margin-top: var(--spacing-4) !important;
}

.multi-home .multi-column__grid-item-inner {
    width: auto;
}

.grid-type {
    display:flex;
    flex-wrap: wrap;
    grid-column-gap:calc((4px * 4) + 1px);
    grid-column-gap:calc(calc(4px * 4) + 1px);
    grid-column-gap:calc(var(--spacing-4) + 1px);
    -moz-column-gap:calc((4px * 4) + 1px);
         column-gap:calc((4px * 4) + 1px);
    -moz-column-gap:calc(calc(4px * 4) + 1px);
         column-gap:calc(calc(4px * 4) + 1px);
    -moz-column-gap:calc(var(--spacing-4) + 1px);
         column-gap:calc(var(--spacing-4) + 1px);
    grid-row-gap:calc((4px * 4) + 1px);
    grid-row-gap:calc(calc(4px * 4) + 1px);
    grid-row-gap:calc(var(--spacing-4) + 1px);
    row-gap:calc((4px * 4) + 1px);
    row-gap:calc(calc(4px * 4) + 1px);
    row-gap:calc(var(--spacing-4) + 1px)
}

slider-collection-item .swiper-slide {
    width: 100% !important;
}


[data-enable-sticky-filter-sidebar=true] .filter-sidebar [data-sticky-container] {
    top: calc(var(--sticky-filter-bar-height, 0) * 2) !important;
    margin-top: calc(var(--sticky-filter-bar-height, 0)) !important;
}

.product-item__slider {
    display: flex;
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.product-item__slider::-webkit-scrollbar {
  display: none;
}

.product-item__slider {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.product-item__slider .slider-collection__slide {
    scroll-snap-align: center;
    width: 100%;
    min-width: 100%;
    box-sizing: content-box;
}


.product-item__slider__content .scrollbar__progress {
    height: 1px;
    background: #fff;
    width: 100%;
    display: block;
    position: relative;
}

.product-item__slider__content .scrollbar {
    position: absolute;
    left: 50%;
    max-width: 3.5rem;
    width: 100%;;
    bottom: 2rem;
    transform: translateX(-50%);
}

.scrollbar__progress:before {
    content: "";
    transform-origin: left;
    transform: scaleX(var(--scroll-progress));
    background:rgba(0,0,0,.5);
    will-change: transform;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer .disclosure__toggle {
    color: inherit;
}

.section-link {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.rich-text__inner:has(.section-link), .image-with-text-split__inner:has(.section-link) {
    position: relative;
}

.fs-heading-display-0 {
  line-height:var(--line-height-heading);
  font-size: var(--font-size-heading-display-0);
}

.image.aspect-ratio--short * {
    aspect-ratio: var(--aspect-ratio-widescreen);
    object-fit: var(--object-fit, cover);
}
.aspect-ratio--tall > * {
    --aspect-ratio-tall: 4 / 5;
    aspect-ratio: var(--aspect-ratio-tall);
    object-fit: var(--object-fit, cover);
}
.article-item {
    box-sizing: border-box;
    border: 1.5px solid var(--color-text);
    height: 100%;
}

.article-item__content {
    margin-top: var(--spacing-4) !important;
    margin-bottom: var(--spacing-6) !important;
    padding-inline: var(--spacing-4) !important;
}


.grid-type {
    display: flex !important;
    justify-content: center;
}

/* .template-index .featured-collection-grid,
.template-index .grid-type {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.35vw;
    padding-right: 0.35vw;
    box-sizing: border-box;
} */
/* Add left/right padding to "Image with text split" sections on the home page */
.template-index main .shopify-section [data-section-type="image-with-text-split"] {
    padding-left: var(--space-outer);
    padding-right: var(--space-outer);
    box-sizing: border-box;
}
/* ===== L'ÉCURIE – FOOTER LAYOUT ===== */



/* Brown block with 4vw left/right "white borders" */
.footer.section[data-section-type="footer"] .footer__groups {
  margin: 0;                         /* white on left/right */
  padding: 70px var(--space-outer) 80px;                /* inner padding (top | LR | bottom) */
  box-sizing: border-box;
  justify-content: center;
}

.page-nav {
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 0;
}

.page-nav a {
    line-height: 1.2em;
    display: block;
}

.page-nav a.active {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 959px) {
    .page-nav {
        gap: 0.5rem 1rem;
        flex-wrap: wrap;
    }
}

header.blog__header {
    padding-top: var(--spacing-10);
}

.blog__header .page-nav a {
    text-transform: uppercase;
}

@media (min-width: 960px) {
    .footer__group {
        --desktop-width: fit !important;
        --desktop-padding: 12% !important;
        
    }
    .footer__group:last-child {
        padding-right: 0 !important;
    }

    inbox-online-store-chat#ShopifyChat {
        z-index: calc(var(--z-index-modal) - 1px) !important;
    }
}


/* Text + links inside brown block */
.footer.section[data-section-type="footer"] .footer__groups a,
.footer.section[data-section-type="footer"] .footer__groups p,
.footer.section[data-section-type="footer"] .footer__groups li {
  font-weight: 500;
  text-decoration: none;
}

/* Headings in brown block */
.footer.section[data-section-type="footer"] .footer__groups h2,
.footer.section[data-section-type="footer"] .footer__groups h3,
.footer.section[data-section-type="footer"] .footer__groups h4 {
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

/* Bottom copyright / selector strip – white, full width */
.footer.section[data-section-type="footer"] .footer__bottom {
  margin-top: 40px;
  padding: 18px 1vw 22px;                /* same 4vw left/right */
  box-sizing: border-box;
  font-size: 11px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

/* FORCE HEADER MENU BOLD */
header nav a,
.drawer-menu__link {
    font-family: var(--font-heading) !important;
    font-weight: 400 !important;
    font-style: var(--font-heading-style) !important;
}

header nav a:hover,
a.drawer-menu__link.active,
header nav a.active {
    font-family: var(--font-heading) !important;
    font-weight: bold !important;
    font-style: var(--font-heading-style) !important;
}

#HeaderMenu .list-menu--disclosure a,
#HeaderMenu .site-nav__dropdown a,
.header .dropdown-menu a,
.header .submenu a {
    font-weight: 400 !important; /* normal */
}

.drawer-menu__item {
    border: 0 !important;
}


.article__rte > * {
    font-size: var(--font-size-heading-4-base);
}

.article__rte > *:has(em) {
    line-height: var(--line-height-heading);
    font-family: Aparajita, serif;
    font-style: italic;
}

.article__rte h2:has(em), .article__rte h3:has(em) {
    text-transform: unset !important;
}

.image-with-text-split__image-container:has(.text-below-image-split) .image__img {
    aspect-ratio: unset !important;
    margin: 0;
}

.text-below-image-split {
    background: var(--color-background);
    color: var(--color-text);
    padding: var(--spacing-6);
    width: 100%;
}

.image-with-text-split__image-container:has(.text-below-image-split) {
    display: flex;
    flex-direction: column;
}

@media (min-width: 960px) {
    .large-up-hide {
        display: none !important;
    }
    [data-enable-sticky-filter-sidebar="true"] .collection__container,[data-enable-sticky-filter-sidebar="true"] .search__container {
        /* padding-left: max(5rem,calc((100vw - var(--max-width)) / 2)); */
        padding-left:  calc(var(--spacing-4) + 1px);
        padding-right: calc(var(--spacing-2) + 1px);
    }
    [data-enable-sticky-filter-sidebar="true"] .mobile-filters--has-grid {
        padding-left: 0;
        padding-right: 0;
    }

    .grid-type.grid-type--per-view-5 .featured-collection-grid__product {
        width: calc(20% - calc(var(--spacing-4) + 1px) * 4 / 5);
        max-width: calc(20% - calc(var(--spacing-4) + 1px) * 4 / 5);
    }
    .grid-type.grid-type--per-view-4 .featured-collection-grid__product {
        width: calc(25% - calc(var(--spacing-4) + 1px) * 3 / 4);
        max-width: calc(25% - calc(var(--spacing-4) + 1px) * 3 / 4);
    }
    .grid-type.grid-type--per-view-3 .featured-collection-grid__product {
        width: calc(33.33% - calc(var(--spacing-4) + 1px) * 2 / 3);
        max-width: calc(25% - calc(var(--spacing-4) + 1px) * 2 / 3);
    }
    .grid-type.grid-type--per-view-2 .featured-collection-grid__product {
        width: calc(50% - calc(var(--spacing-4) + 1px) * 1 / 2);
        max-width: calc(50% - calc(var(--spacing-4) + 1px) * 1 / 2);
    }
    .grid-type.grid-type--per-view-1 .featured-collection-grid__product {
        width: calc(100% - calc(var(--spacing-4) + 1px) / 2);
        max-width: calc(100% - calc(var(--spacing-4) + 1px) / 2);
    }

    .mobile-filters__button.filter-bar__link {
        max-width: fit-content;
    }
    .product-item__slider__content .carousel__navigation-button,.product-item__slider__content .scrollbar__progress {
        opacity: 0;
        transition: all ease-in-out .3s;
    }

    .product-item__slider__content:hover .carousel__navigation-button,.product-item__slider__content:hover .scrollbar__progress {
        opacity: 1;
    }


    .product[data-gallery-size=large] .product__primary {
        grid-template-columns: 50fr 50fr !important;
    }
    .product__meta {
        max-width: 412px;
        margin: auto;
    }
    .article-item__content {
        margin-top: var(--spacing-6) !important;
        margin-bottom: var(--spacing-8) !important;
        padding-inline: var(--spacing-4) !important;
    }
    
    .image-with-text-split.image-with-text-split--image-position-right.image-with-text-split--image-padding-all-sides .image-with-text-split__image-container {
        padding-inline: 0;
    }

    .image-with-text-split.image-with-text-split--image-position-left.image-with-text-split--image-padding-all-sides .image-with-text-split__image-container {
        padding-inline: 0;
    }
}

@media (max-width: 959px) {
    .small-hide {
        display: none;
    }

    .grid-type--mobile-per-view-3 .featured-collection-grid__product  {
        width: calc(33.33% - calc(var(--spacing-4) + 1px) * 2/3);
        max-width: calc(33.33% - calc(var(--spacing-4) + 1px) * 2/3);
    }

    .grid-type--mobile-per-view-2 .featured-collection-grid__product  {
        width: calc(100% - calc(var(--spacing-4) + 1px) / 2);
        max-width: calc(100% - calc(var(--spacing-4) + 1px) / 2);
    }
    .grid-type--mobile-per-view-2 .featured-collection-grid__product {
        width: calc(50% - calc(var(--spacing-4) + 1px) * 1 / 2);
        max-width: calc(50% - calc(var(--spacing-4) + 1px) * 1 / 2);
    }
    .fs-heading-4-base--mobile {
        font-size: var(--font-size-heading-4-base);
    }
    .grid-type--mobile-per-view-1 .featured-collection-grid__product {
        width: 100%;
        max-width: 100%;
    }

    .multi-home .multi-column__grid-item-image-figure {
        --image-max-width: 75% !important;
    }
    .product-item__slider__content .carousel__navigation-button--forward {
        right: 0;
    }

    .product-item__slider__content .carousel__navigation-button--back {
        left: 0;
    }

    .left--sidebar[data-popup-id] .popup_content {
        max-width: calc(var(--flyout-width) - var(--flyout-mobile-gap));
    }

    .fs-heading-display-0 {
        font-size: 32px;
    }

    .filter-bar__link {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    [data-popup-id].active .popup_content {
        transform: none;
    }

    [data-popup-id] .popup-close {
        top: var(--spacing-5);
    }

    .product__controls-group {
        margin-bottom: var(--spacing-5) !important;
    }
    .product__variants-wrapper .product__label-wrapper {
        margin-bottom: var(--spacing-3) !important;
    }

    body.template-index .header-transparent .header {
        background-color: transparent;
    }
    .popup_content {
        max-width: 100%;
        transform: translateX(100%);
    }
    .custom_popup-title {
        position: relative;
    }
    .custom_popup-title:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 1px solid;
        border-right: 1px solid;
        transform: rotate(45deg);
        right: 10px;
        top: 9px;
    }

    .article__header, .article .article__header {
        margin: var(--spacing-8) 0 0 !important;
    }

    .article__image {
        margin: var(--spacing-6) auto !important;
    }
}

@media (min-width: 720px) {
    .justify-between--lg {
        justify-content: space-between !important;
    }
    .product__media-container[data-gallery-style=list] .product__media {
        max-width: 38rem;
        margin: 0 0 0 auto;
    }

    .multi-home {
        padding-top: calc(var(--height-header) - 3rem) !important;
    }
    .multi-home .multi-column__grid-item-image-figure {
        --image-max-width: calc(100% - var(--height-header)) !important;
    }
    .multi-home .multi-column__grid-item:first-child .multi-column__grid-item-image-figure,
    .multi-home .multi-column__grid-item:first-child .multi-column__grid-item-text {
        margin-right: 0 !important;
    }
    .multi-home .multi-column__grid-item:last-child .multi-column__grid-item-image-figure,
    .multi-home .multi-column__grid-item:last-child .multi-column__grid-item-text {
        margin-left: 0 !important;
    }
    .multi-home .multi-column__grid {
        max-width: fit-content;
        margin: auto;
        --grid-gap-column-desktop: 70px;
    }
    .text-below-image-split {
        padding: var(--spacing-16) var(--spacing-6);
    }

    .image-with-text-shrink-image {
        --text-container-outer-large: 0 !important;
    }

    .image-with-text-shrink-image .image-with-text__image-container {
        width: var(--shrink-img-width);
    }

    .image-with-text-shrink-image .image-with-text__text-container {
        width: var(--shrink-text-width);
        padding-left: var(--spacing-16);
    }

    .image-with-text-shrink-image.image-with-text--image-right  .image-with-text__text-container {
        padding-left: 0;
        padding-right: var(--spacing-16);
    }
}

@media (max-width: 719px) {
    .text-below-image-split .ff-heading {
        font-size: var(--font-size-heading-2-base);
    }
}