/* :root {
    --font-heading: 'Baron Neue', sans-serif;
    --font-body: 'Baron Neue', sans-serif;
} */

.template-index main .shopify-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.template-index main .shopify-section [data-section-type] {
    width: 100%;
    padding-top: calc(var(--height-header));
}

/* .swiper-creative .swiper-slide:first-child [data-section-type] {
    padding-top: calc(var(--height-header) * -1);
} */

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.header.blacked {
    --color-cart-count-transparent: #ffffff !important;
    --color-text-transparent: var(--color-text-header) !important;
    color: var(--color-text-header) !important;
}

.header.blacked .image.regular-logo.animation--lazy-load.loaded{
    display: block !important;
}
.header.blacked .image.transparent-logo.animation--lazy-load.loaded {
    display: none !important;
}

.splitted-nav .header__links-primary-scroll-container {
    flex: 1 auto;
}

.splitted-nav .header__links-primary {
    width: 100%;
    justify-content: center;
}

.custom_popup-content.hidden {
    display: none;
}
.popup_bg {
    background: var(--color-overlay);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: none;
}
.popup_content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #fff;
    max-width: 50vw;
    width: 100%;
    margin-left: auto;
    transition: var(--duration-normal) var(--easing);
    transform: translateX(50vw);
}

[data-popup-id] .popup-main {
    padding-left: 3.333333vw;
    padding-right: 3.333333vw;
}

[data-popup-id] .popup-close {
    right: 3.333333vw;
}

.left--sidebar[data-popup-id] .popup_content {
    left: 0;
    right: unset;
    max-width: var(--flyout-width);
    transform: translateX(calc(-1 * var(--flyout-width)));
    margin-right: var(--flyout-mobile-gap);
}

.filter-bar__slide-group{
    position:relative;
    margin-left: auto;
    z-index:2;
}

.right--sidebar[data-popup-id] .popup_content {
    left: auto;
    right: 0;
    max-width: 33vw;
    transform: translateX(33vw);
}

.custom-popup.active .popup_content {
    transform: none;
}
.custom-popup.active .popup_bg {
    display: block;
}
.popup-close {
    position: absolute;
    top: 4rem;
    right: 8.3333333333vw;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.popup-close:not(.no-icon):before {
    content: "";
    width: 16px;
    height: 1px;
    transform: rotate(45deg);
    background: #000;
    position: absolute;
    top: 9px;
    left: 2px;
}
.popup-close:not(.no-icon):after {
    content: "";
    width: 16px;
    height: 1px;
    transform: rotate(-45deg);
    background: #000;
    position: absolute;
    top: 9px;
    left: 2px;
}
.popup-title {
    padding-right: calc(8.33333vw + 4.5rem);
    padding-left: 8.3333333333vw;
    margin-top: 4rem;
    text-transform: uppercase;
}
.popup-main {
    padding-left: 8.3333333333vw;
    padding-right: 8.3333333333vw;
    padding-top: 2rem;
    overflow: auto;
    max-height: calc(100vh - 150px);
}
body.overhidden {
    overflow: hidden;
}
.custom_popup-title {
    cursor: pointer;
    line-height: 1rem;
    margin-top:  1rem;
}
.custom_popup-title:hover {
    text-decoration: underline
}
.popup-main img {
    width: 100%;
}

.product__color-swatches .product__color-swatch[data-shape=rectangle] {
    aspect-ratio: 1.5;
}

.product__variants-wrapper .product__label-wrapper {
    margin-bottom: 2.3rem !important;
}

.product__color-swatches .product__color-swatch.selected:before {
    box-shadow: unset;
    border-bottom: .1rem solid var(--color-text);
}

.dynamic-variant-button.product__color-swatch {
    box-shadow: unset;
}
/* .product__color-swatches .product__color-swatch:before {
    border-radius: 50%;
} */

.filter-bar__link {
    display: inline-flex;
    align-items: center;
    padding: 4px 0;
    padding: var(--spacing-1) 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: var(--color-text);
    font-family: var(--font-body);
    font-style: var(--font-body-style);
}

.filter-bar__link .icon-chevron-small{
    width:10px;
    height:10px;
    margin-left:calc(4px * 2);
    margin-left:var(--spacing-2);
    margin-top:3px;
    transition:transform 500ms cubic-bezier(0.33, 0, 0, 1);
    transition:transform var(--duration-normal) var(--easing);
}

.has-bgcolor {
    background-color: var(--bg-color) !important;
    max-width: 100% !important;
}

.has-textcolor {
    --color-text: var(--text-color) !important;
}
.has-textcolor * {
    color: var(--color-text) !important;
}
.header-transparent .header {
    transition: all 0.3s cubic-bezier(.25,.1,.25,1), visibility 0s;
    background-color: rgb(255,255,255,0.8);
    backdrop-filter: blur(10px);
}

html:not(.no-js) body.header-transparent:not([mobile-menu-open=true]):not([quick-search-open=true]) header.header--transparent:not(.is-sticky):not(:hover):not(:focus-within):not(.dropdown-active) {
    backdrop-filter: unset;
    background-color: transparent;
}


html:not(.no-js) .navigation__submenu-list,.meganav {
    transition: all 0.3s cubic-bezier(.25,.1,.25,1), visibility 0s;
    background-color: rgb(255,255,255,0.8);
    backdrop-filter: blur(10px);
    border: 0;
}
html:not(.no-js) .navigation__submenu,.meganav {
    margin-top: 0px;
}

.header .icon-button__icon .icon {
    width: 20px;
    height: 20px;
}

.icon-button__icon {
    width: 35px;
    height: 35px;
}

.article-item__content-inner {
    padding: 0 !important;
}

.meganav__nav h4 {
    font-weight: bold;
}

.navigation__submenu-item {
    font-size: var(--font-size-navigation-base);
} 

.meganav__nav {
    padding: 0 calc(var(--spacing-12) * 2);
}

.meganav__inner {
    font-size: var(--font-size-navigation-base);
}

.meganav__nav li[depth="0"].has-children:not(:last-child) {
    margin-bottom: 0;
}
[data-js-cart-icon=bag] [data-js-cart-count] {
    display: none;
}

.product-item__inner .product-item__hover-container {
    background: transparent;
}

.collection__main-area {
    max-width: 100% !important;
    padding-left: calc(var(--spacing-1) + 1px) !important;
    padding-right: calc(var(--spacing-1) + 1px) !important;
}

.product__price-and-ratings {
    margin-top: -4px;
}

.product {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.product__title {
    font-weight: 700;
}

.product__media-container[data-gallery-style=list] .product__media {
    max-width: 43rem;
    margin: auto;
}

.product__controls-group {
    margin-bottom: 3.5rem !important;
}

.product-item {
    overflow: hidden;
}

.product-item__slider__content {
    position: relative;
    display: block;
}

.product-item__slider__content .carousel__navigation-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    z-index: 2;
}

.product-item__slider__content .carousel__navigation-button--forward {
    right: 1rem;
}

.product-item__slider__content .carousel__navigation-button--back {
    left: 1rem;
}

.product-item__slider__content .swiper-scrollbar {
    position: absolute;
    bottom: 2rem;
    max-width: 4rem;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
}

.filter-bar {
    overflow-y: initial;
    overflow-x: clip;
}

.filter-item a {
    display: block;
}

.filter-item a.active {
    font-weight: bold;
}

.filter-bar__link {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--color-background);
    color: var(--color-text);
}

/* .mobile-filters__group .filter-bar__link {
    padding: var(--spacing-2) calc(var(--spacing-unit)* 4);
    border-radius: 0;
    border: 1px solid var(--color-text);
} */

.filter-bar {
    display: none;
}

.mobile-filters__group[data-group="Filter"] {
    text-align: right;
}

h2#modal-Filter {
    flex: 1 auto;
    justify-content: center;
    font-weight: bold;
}

.filter-drawer__panel .filter-drawer__close {
    right: var(--spacing-5);
    position: absolute;
    top: var(--spacing-5);
}

[data-popup-id="category"] .popup-title {
    margin-top: 12rem;
}

.filter-drawer__heading {    
    margin-bottom: 6rem;
}
.sticky-header-active .header-transparent .header {
    background: transparent;
    backdrop-filter: unset;
}

.sticky-header-active .header-transparent .header:hover {
    background-color: rgb(255,255,255,0.8);
    backdrop-filter: blur(10px);
}

.splitted-nav .header__links-primary[data-navigation] {
    justify-content: flex-start !important;
}

.splitted-nav .header__links-primary[data-navigation-right] {
    justify-content: flex-end !important;
}

.multi-column__grid-item-text-container {
    margin-top: var(--spacing-4) !important;
}

.multi-home .multi-column__grid-item-inner {
    width: auto;
}

.grid-type {
    display:flex;
    flex-wrap: wrap;
    grid-column-gap:calc((4px * 4) + 1px);
    grid-column-gap:calc(calc(4px * 4) + 1px);
    grid-column-gap:calc(var(--spacing-4) + 1px);
    -moz-column-gap:calc((4px * 4) + 1px);
         column-gap:calc((4px * 4) + 1px);
    -moz-column-gap:calc(calc(4px * 4) + 1px);
         column-gap:calc(calc(4px * 4) + 1px);
    -moz-column-gap:calc(var(--spacing-4) + 1px);
         column-gap:calc(var(--spacing-4) + 1px);
    grid-row-gap:calc((4px * 4) + 1px);
    grid-row-gap:calc(calc(4px * 4) + 1px);
    grid-row-gap:calc(var(--spacing-4) + 1px);
    row-gap:calc((4px * 4) + 1px);
    row-gap:calc(calc(4px * 4) + 1px);
    row-gap:calc(var(--spacing-4) + 1px)
}



@media (min-width: 960px) {
    .grid-type.grid-type--per-view-5 .featured-collection-grid__product {
        width: calc(20% - calc(var(--spacing-4) + 1px) * 4 / 5);
        max-width: calc(20% - calc(var(--spacing-4) + 1px) * 4 / 5);
    }
    .grid-type.grid-type--per-view-4 .featured-collection-grid__product {
        width: calc(25% - calc(var(--spacing-4) + 1px) * 3 / 4);
        max-width: calc(25% - calc(var(--spacing-4) + 1px) * 3 / 4);
    }
    .grid-type.grid-type--per-view-3 .featured-collection-grid__product {
        width: calc(33.33% - calc(var(--spacing-4) + 1px) * 2 / 3);
        max-width: calc(25% - calc(var(--spacing-4) + 1px) * 2 / 3);
    }
    .grid-type.grid-type--per-view-2 .featured-collection-grid__product {
        width: calc(50% - calc(var(--spacing-4) + 1px) * 1 / 2);
        max-width: calc(50% - calc(var(--spacing-4) + 1px) * 1 / 2);
    }
    .grid-type.grid-type--per-view-1 .featured-collection-grid__product {
        width: calc(100% - calc(var(--spacing-4) + 1px) / 2);
        max-width: calc(100% - calc(var(--spacing-4) + 1px) / 2);
    }

    .mobile-filters__button.filter-bar__link {
        max-width: fit-content;
    }
    .product-item__slider__content .carousel__navigation-button,.product-item__slider__content .swiper-scrollbar {
        opacity: 0;
        transition: all ease-in-out .3s;
    }

    .product-item__slider__content:hover .carousel__navigation-button,.product-item__slider__content:hover .swiper-scrollbar {
        opacity: 1;
    }


    .product[data-gallery-size=large] .product__primary {
        grid-template-columns: 50fr 50fr !important;
    }
    .product__meta {
        max-width: 412px;
        margin: auto;
    }
}

@media (max-width: 959px) {
    .multi-home .multi-column__grid-item-image-figure {
        --image-max-width: 64% !important;
    }

    .left--sidebar[data-popup-id] .popup_content {
        max-width: calc(var(--flyout-width) - var(--flyout-mobile-gap));
    }

    .filter-bar__link {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    [data-popup-id].active .popup_content {
        transform: none;
    }

    [data-popup-id] .popup-close {
        top: var(--spacing-5);
    }

    .product__controls-group {
        margin-bottom: var(--spacing-5) !important;
    }
    .product__variants-wrapper .product__label-wrapper {
        margin-bottom: var(--spacing-3) !important;
    }

    body.template-index .header-transparent .header {
        background-color: transparent;
    }
    .popup_content {
        max-width: 100%;
        transform: translateX(100%);
    }
    .custom_popup-title {
        position: relative;
    }
    .custom_popup-title:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 1px solid;
        border-right: 1px solid;
        transform: rotate(45deg);
        right: 10px;
        top: 9px;
    }
}

@media (min-width: 720px) {
    .multi-home {
        padding-top: calc(var(--height-header) - 3rem) !important;
    }
    .multi-home .multi-column__grid-item-image-figure {
        --image-max-width: calc(100% - var(--height-header)) !important;
    }
    .multi-home .multi-column__grid-item:first-child .multi-column__grid-item-image-figure,
    .multi-home .multi-column__grid-item:first-child .multi-column__grid-item-text {
        margin-right: 0 !important;
    }
    .multi-home .multi-column__grid-item:last-child .multi-column__grid-item-image-figure,
    .multi-home .multi-column__grid-item:last-child .multi-column__grid-item-text {
        margin-left: 0 !important;
    }
    .multi-home .multi-column__grid {
        max-width: fit-content;
        margin: auto;
        --grid-gap-column-desktop: 70px;
    }
}
@media (max-width: 699px) {
    .grid-type--mobile-per-view-2 .featured-collection-grid__product  {
        width: calc(100% - calc(var(--spacing-4) + 1px) / 2);
        max-width: calc(100% - calc(var(--spacing-4) + 1px) / 2);
    }
    .grid-type--mobile-per-view-2 .featured-collection-grid__product {
        width: calc(50% - calc(var(--spacing-4) + 1px) * 1 / 2);
        max-width: calc(50% - calc(var(--spacing-4) + 1px) * 1 / 2);
    }
}